/* canvas-frame.css */
.canvas,
#baBefore,
#baAfter {
    border: 3px solid #0000004b;
    background-color: #00000062;
    border-radius: 1rem;
    width: 100%;
    max-width: 620px;
    max-height: 60vh;
    /* force square: */
    aspect-ratio: 1 / 1;
    /* remove max-height so CSS can honor the aspect ratio */
    object-fit: cover;
}

#baBefore {
    position: relative;
    z-index: 1;
}

#baAfter {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.before-after_container canvas {
    display: block;
    width: 100%;
    height: auto;
    max-height: 550px;
}